---
layout: archive
title: "Code"
permalink: /code/
author_profile: true
---

{% include base_path %}

{% if site.data.profile.links.github %}
<p class="page-intro">A selection of codebases I actively maintain or take part in on
<a href="{{ site.data.profile.links.github }}">GitHub</a>.</p>
{% endif %}

{% comment %} Source of truth: _data/code.yml (shared with the PDF CV). {% endcomment %}
{% for item in site.data.code %}
  {% unless item.web == false %}
    {% include archive-single-code.html item=item %}
  {% endunless %}
{% endfor %}
