---
layout: archive
title: "Code"
permalink: /code/
author_profile: true
---

<br/>

{% if site.author.github %}
  <div class="wordwrap">Here is a selection of codebases I actively maintain or take part in on <a href="https://github.com/{{site.author.github}}">GitHub</a>.
  </div>
  <br/>
{% endif %}

{% include base_path %}

{% comment %} Source of truth: _data/code.yml (shared with the PDF CV). {% endcomment %}
{% for item in site.data.code %}
  {% unless item.web == false %}
    {% include archive-single-code.html item=item %}
  {% endunless %}
{% endfor %}
