---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<p class="page-intro">Also on my <a href="{{ site.author.googlescholar }}">Google Scholar profile</a>.</p>
{% endif %}

{% comment %} Source of truth: _data/publications.yml (shared with the PDF CV). {% endcomment %}
{% for item in site.data.publications %}
  {% unless item.web == false %}
    {% include archive-single-publication.html item=item %}
  {% endunless %}
{% endfor %}
