---
layout: archive
title: "Talks & presentations"
permalink: /talks/
author_profile: true
---


{% comment %} Legend for the type icons used on every row below. {% endcomment %}
<div class="type-legend">
  {% assign legend_types = "invited,oral,poster,tutorial,interview" | split: "," %}
  {% for t in legend_types %}
    <span class="type-legend__item">
      {% include icon-type.html type=t %}
      {% case t %}
        {% when 'oral' %}Conference talk
        {% when 'poster' %}Poster
        {% when 'tutorial' %}Tutorial
        {% when 'interview' %}Interview
        {% else %}Invited talk
      {% endcase %}
    </span>
  {% endfor %}
</div>

{% comment %} Source of truth: _data/talks.yml (shared with the PDF CV). {% endcomment %}
{% for item in site.data.talks %}
  {% unless item.web == false %}
    {% include archive-single-talk-mini.html item=item %}
  {% endunless %}
{% endfor %}
