---
my_name: Damien Robert
---

<!-- Imports -->
{% include_relative imports.html %}

<!-- Header -->
{% include_relative header.html %}


<!-- Change colors here -->
<div style="--color_left:#80cc28;--color_right:#00aec7">


    <!-- Navigation menu -->
    <ul id="menu-deroulant">
        <li><a href="index.html">Home</a></li>
        <li><a href="">Projects</a>
            <ul>
                <li><a href="https://drprojects.github.io/DeepViewAgg">DeepViewAgg</a></li>
            </ul>
        </li>
        <li style="float:right"><a href="">Up</a></li>
    </ul>


    <!-- Header -->
    {% include_relative header.html %}


    <!-- Page content -->
    <section class="main-content">
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Summary">Summary<a class="anchor-link" href="#Summary">&#182;</a></h1>
                    <p>Summary I am a PhD student at the École des Ponts in the computer vision team IMAGINE (LIGM,
                        École des Ponts, Univ Gustave Eiffel, CNRS) and at the IGN—the French Mapping Agency—in the
                        machine learning team STRUDEL (LASTIG, Univ Gustave Eiffel, IGN/ENSG), advised by Mathieu Aubry
                        and Loïc Landrieu. I am interested in optimisation and machine learning for 3D data, with a
                        focus on unsupervised learning, interpretability, and real-time applications.</p>
                    <h1 id="Supervisors">Supervisors<a class="anchor-link" href="#Supervisors">&#182;</a></h1>
                    <ul>
                        <li><a href="https://imagine.enpc.fr/~aubrym">Mathieu Aubry</a> (LIGM, Ecole des Ponts, Univ
                            Gustave Eiffel, CNRS, France)
                        </li>
                        <li><a href="https://loiclandrieu.com/">Loïc Landrieu</a> (Univ Paris-Est, IGN-ENSG, LaSTIG,
                            STRUDEL, Saint-Mandé, France)
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        {% include_relative s3dis_multimodal_sample__pos.html %}

        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Publications">Publications<a class="anchor-link" href="#Publications">&#182;</a></h1>
                    <div class="tom_table">
                        <div class="tom_row">
                            <div class="tom_cell" style="width:40%">
                                <a href="https://drprojects.github.io/DeepViewAgg"><img src="images/1_DLM/dti3d.jpg"
                                                                                        alt="dti3d.jpg"></a>
                            </div>
                            <div class="tom_cell_text">
                                <b><a href="https://drprojects.github.io/DeepViewAgg">Representing Shape Collections
                                    with Alignment-Aware Linear Models</a></b><br>

                                <a href="">{{ page.my_name }}</a>, <a href="https://imagine.enpc.fr/~monniert">Tom
                                Monnier</a>, <a href="https://imagine.enpc.fr/~aubrym">Mathieu Aubry</a>, <a
                                    href="https://loiclandrieu.com/">Loïc Landrieu</a><br>
                                <a href=https://arxiv.org/abs/2109.01605>Paper</a> | <a
                                    href="https://drprojects.github.io/DeepViewAgg">Webpage</a> | <a
                                    href="https://github.com/drprojects/DeepViewAgg">Code</a> | <a
                                    href="https://drprojects.github.io/DeepViewAggdocs/SLIDES_3DV2021.pdf">Slides</a> |
                                <a href=https://slideslive.com/38972354/representing-shape-collections-with-alignmentaware-linear-models?ref=account-folder-92953-folders>Long
                                    video</a> | <a
                                    href=https://slideslive.com/38972213/representing-shape-collections-with-alignmentaware-linear-models?ref=account-folder-92951-folders>Short
                                video</a>
                                <p>
                                    We characterize 3D shapes as affine transformations of linear families learned
                                    without supervision, and showcase its advantages on large shape collections.
                                </p>
                                <p>
                                    This work is an extension of the <i>Deep Transformation-Invariant Clustering</i>
                                    framework from <a href="https://imagine.enpc.fr/~monniert">Tom Monnier</a> <i>et
                                    al.</i> for 3D tasks such as clustering and few-shot segmentation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Short-CV">Short CV<a class="anchor-link" href="#Short-CV">&#182;</a></h1>
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>2020-now</strong></td>
                            <td>PhD student on "Semantic segmentation of dynamic 3D point clouds" supervised by Mathieu
                                Aubry and Loic Landrieu.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Summer 2019</strong></td>
                            <td>Research project on generative adversarial network for MRI spine labelling at GE
                                Healthcare supervised by Mathieu Aubry.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>2018-2019</strong></td>
                            <td>Mathematics, Vision and Learning (MVA) master of the ENS-Cachan &amp; engineering
                                program of Ecole des Ponts ParisTech.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Summer 2018</strong></td>
                            <td>Research project on the semantic segmentation of 3D point clouds using deep learning at
                                Bentley Systems with Renaud Keriven.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>2015-2018</strong></td>
                            <td>Master in Computer science and biology at the Ecole polytechnique.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Affiliations">Affiliations<a class="anchor-link" href="#Affiliations">&#182;</a></h1>
                    <ul>
                        <li><a href="http://ligm.u-pem.fr/">LIGM (UMR 8049)</a>, <a
                                href="https://www.ecoledesponts.fr/">Ecole des Ponts</a>, <a
                                href="https://www.univ-gustave-eiffel.fr/">Univ. Gustave Eiffel</a>, <a
                                href="https://www.cnrs.fr/fr/page-daccueil">CNRS</a></li>
                        <li><a href="https://www.umr-lastig.fr/">LASTIG-STRUDEL</a>, <a
                                href="https://ign.fr/">IGN</a>-<a href="https://www.ensg.eu/">ENSG</a>, <a
                                href="https://www.univ-gustave-eiffel.fr/">Univ. Gustave Eiffel</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <ul class="hfig">
                        <li><img style="height:7vw;" src="images/icons/lastig.png"></li>
                        <li><img style="height:7vw;" src="images/icons/uge.png"></li>
                        <li><img style="height:7vw;" src="images/icons/ligm.png"></li>
                    </ul>
                    <ul class="hfig">
                        <li><img style="height:7vw;" src="images/icons/ign.png"></li>
                        <li><img style="height:7vw;" src="images/icons/mte.png"></li>
                        <li><img style="height:7vw;" src="images/icons/enpc.png"></li>
                    </ul>
                </div>
            </div>
        </div>


        <footer class="site-footer">
            <!-- Change footer here -->
            <div style="text-align: center;">
                <span class="site-footer-owner"><a href="index.html">{{ page.my_name }} - ENGIE Lab CRIGEN & Lastig/IGN</a> is maintained by <a href="index.html">{{ page.my_name }}</a>.</span
            </div>
            <div style="text-align: center;">
                <span class="site-footer-credits">This page was generated by a template written by <a href="index.html">{{ page.my_name }}</a>.</span>
            </div>

        </footer>
    </section>

</div>

