---
my_name: Damien Robert
icon: "images/icons/portrait.png"

link_ign: <a href="https://www.ign.fr">IGN</a>
link_ensg: <a href="https://www.ensg.eu/">ENSG</a>
link_lastig: <a href="https://www.umr-lastig.fr">LASTIG</a>
link_strudel: <a href="https://www.umr-lastig.fr/strudel">STRUDEL</a>
link_acte: <a href="https://www.umr-lastig.fr/acte">ACTE</a>
link_uge:  <a href="https://www.univ-gustave-eiffel.fr">Univ. Gustave Eiffel</a>
link_crigen: <a href="https://www.engie.com/en/innovation-transition-energetique/centres-de-recherche/crigen">ENGIE Lab CRIGEN</a>
link_loic: <a href="https://loiclandrieu.com/">Loïc Landrieu</a>
link_bruno: <a href="https://www.umr-lastig.fr/bruno-vallet/">Bruno Vallet</a>

link_paper: <a href="https://arxiv.org/abs/2204.07548">Paper</a>
link_webpage: <a href="">Webpage</a>
link_code: <a href="https://github.com/drprojects/DeepViewAgg">Code</a>
link_video: <a href="">Video</a>
---

<!-- Imports -->
{% include_relative imports.html %}

<!-- Change colors here -->
<div style="--color_left:#80cc28;--color_right:#00aec7">


    <!-- Navigation menu -->
    {% include_relative navigation.html %}


    <!-- Header -->
    {% include_relative header.html %}


    <!-- Page content -->
    <section class="main-content">
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">

                    <!-- Summary -->
                    <h1 id="Summary">Summary<a class="anchor-link" href="#Summary">&#182;</a></h1>
                    <p>
                        As a PhD candidate at {{ page.link_ign }}—the French Mapping Agency—in the machine learning team
                        STRUDEL ({{ page.link_lastig }}, {{ page.link_uge }}, {{ page.link_ign }}-{{ page.link_ensg }}),
                        and in the CSAI team at {{ page.link_crigen }}, I design deep learning methods for multimodal,
                        multi-task learning on large-scale point clouds. Specifically, my recent research involves
                        computer vision on 3D point clouds and 2D images in the wild.
                        <br><br>
                        You like point clouds ? You like images ? You like me.
                    </p>

                    <!-- Supervision -->
                    <h1 id="Supervisors">Supervisors<a class="anchor-link" href="#Supervisors">&#182;</a></h1>
                    <ul>
                        <li>{{ page.link_loic }} ({{ page.link_strudel }}-{{ page.link_lastig }}, {{ page.link_ign }}-{{ page.link_ensg }}, {{ page.link_uge }}, Saint-Mandé, France)
                        </li>
                        <li>{{ page.link_bruno }} ({{ page.link_acte }}-{{ page.link_lastig }}, {{ page.link_ign }}-{{ page.link_ensg }}, {{ page.link_uge }}, Saint-Mandé, France)
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        {% include_relative s3dis_multimodal_sample__pos.html %}

        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Publications">Publications<a class="anchor-link" href="#Publications">&#182;</a></h1>
                    <div class="tom_table">
                        <div class="tom_row">
                            <div class="tom_cell" style="width:40%">
                                <a href="https://drprojects.github.io/DeepViewAgg"><img src="images/1_DLM/dti3d.jpg" alt="dti3d.jpg"></a>
                            </div>
                            <div class="tom_cell_text">
                                <b><a href="https://drprojects.github.io/DeepViewAgg">Learning Multi-View Aggregation In the Wild for Large-Scale 3D Semantic Segmentation</a></b><br>
                                <a href="">{{ page.my_name }}</a>, {{ page.link_bruno }}, {{ page.link_loic }}
                                <br>
                                {{ link_paper  }}} | {{ link_webpage  }}} | {{ link_code  }}} | {{ link_video  }}} |
                                <p>
                                    We present an end-to-end deep view aggregation method for 3D semantic segmentation
                                    from images and point clouds. We reach SOTA on S3DIS and KITTI360 without requiring
                                    point cloud colorization, meshing, or depth sensors: just point clouds, images, and
                                    their poses.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Short-CV">Short CV<a class="anchor-link" href="#Short-CV">&#182;</a></h1>
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>2020-now</strong></td>
                            <td>PhD student on "Multimodal, multi-task learning on large-scale 3D point clouds"
                                supervised by {{ page.link_loic }} and {{ page.link_bruno }}.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Summer 2019</strong></td>
                            <td>Research project on generative adversarial network for MRI spine labelling at GE
                                Healthcare supervised by Mathieu Aubry.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>2018-2019</strong></td>
                            <td>Mathematics, Vision and Learning (MVA) master of the ENS-Cachan &amp; engineering
                                program of Ecole des Ponts ParisTech.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Summer 2018</strong></td>
                            <td>Research project on the semantic segmentation of 3D point clouds using deep learning at
                                Bentley Systems with Renaud Keriven.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>2015-2018</strong></td>
                            <td>Master in Computer science and biology at the Ecole polytechnique.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <h1 id="Affiliations">Affiliations<a class="anchor-link" href="#Affiliations">&#182;</a></h1>
                    <ul>
                        <li>{{ page.link_crigen }}
                        <li>{{ page.link_strudel }}-{{ page.link_lastig }}, {{ page.link_ign }}-{{ page.link_ensg }}, {{ page.link_uge }}</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="cell border-box-sizing text_cell rendered">
            <div class="prompt input_prompt">
            </div>
            <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                    <ul class="hfig">
                        <li><img style="height:7vw;" src="images/icons/lastig.png"></li>
                        <li><img style="height:7vw;" src="images/icons/uge.png"></li>
                    </ul>
                    <ul class="hfig">
                        <li><img style="height:7vw;" src="images/icons/ign.png"></li>
                        <li><img style="height:7vw;" src="images/icons/mte.png"></li>
                        <li><img style="height:7vw;" src="images/icons/engie.png"></li>
                    </ul>
                </div>
            </div>
        </div>


        <footer class="site-footer">
            <!-- Change footer here -->
            <div style="text-align: center;">
                <span class="site-footer-owner"><a href="index.html">{{ page.my_name }} - ENGIE Lab CRIGEN & Lastig/IGN</a> is maintained by <a href="index.html">{{ page.my_name }}</a>.</span
            </div>
            <div style="text-align: center;">
                <span class="site-footer-credits">This page was generated by a template written by <a href="index.html">{{ page.my_name }}</a>.</span>
            </div>

        </footer>
    </section>

</div>

