{% include base_path %}

<div class="news-entry">
  {% if post.date %}
    {% assign year = post.date | date: "%Y" %}
    {% assign month =  post.date | date: "%m" | plus: 0 %}
  {% else %}
    {% assign year = 0000 %}
    {% assign month = 0 %}
  {% endif %}
  {% if month <= 3 %}
    {% assign quarter = "Q1" %}
  {% elsif month <= 6 %}
    {% assign quarter = "Q2" %}
  {% elsif month <= 9 %}
    {% assign quarter = "Q3" %}
  {% else %}
    {% assign quarter = "Q4" %}
  {% endif %}
  {% assign idx = year | minus: 2022 | modulo: 7 %}
  <span class="label color-{{ idx }}">{{ quarter }} {{ year }}</span>
  <div class="news-text">{{ post.content }}</div>
</div>
