/* ==========================================================================
   LABELS
   ========================================================================== */

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  font-family: var(--bs-font-monospace);
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label:empty {
  display: none;
}

.btn .label {
  position: relative;
  top: -1px;
}

.label-2022 {
  background-color: #f399e0;
}

.label-2023 {
  background-color: #8e8dba;
}

.label-2024 {
  background-color: #8ac3df;
}

.label-2025 {
  background-color: #9fcc98;
}

.label-2026 {
  background-color: #e4ab69;
}

.label-2027 {
  background-color: #CCE8E4;
}
