/* ==========================================================================
   LABELS
   ========================================================================== */

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  font-family: var(--bs-font-monospace);
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label:empty {
  display: none;
}

.btn .label {
  position: relative;
  top: -1px;
}

.label.color-0 { background: #d399c7; }
.label.color-1 { background: #8e8dba; }
.label.color-2 { background: #9cc9df; }
.label.color-3 { background: #9bcd92; }
.label.color-4 { background: #e3ab6b; }
.label.color-5 { background: #6dd8a0; }
.label.color-6 { background: #e17b8a; }
